@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Health Catalyst Assignment</h1>
    <p class="lead">Competed by: Yan Peng</p>
    <p><a href="@Url.Action("Index","People")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

